.button{

  height:50px;
  border-radius: 4px;
  font-weight: 500;
  background: var(--roxo);
  color: var(--shape);
  padding: 0 32px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 0.2s;

  cursor: pointer;

  > img{
    margin-right: 8px;
  }
  &.outlined{
    background: var(--shape);
    border: 1px solid var(--roxo);
    color: var(--roxo);
    

  }

  &:not(:disabled):hover{
    filter: brightness(0.9);
    
  }

  &:disabled{
    opacity: 0.6;
    cursor: not-allowed;
    

  }

}