#page-auth{
  display:flex;
  align-items:stretch;
  height: 100vh;


aside{
  flex: 7;
  background: var(--roxo);
  color: var(--shape);
  display: flex;
  flex-direction:column;
  justify-content: center;
  padding: 120px 80px;

  img{
    max-width: 350px;
    border-radius: 4px;
  }

}

main{
  flex: 8;
  padding: 0 32px;
  display: flex;
  align-items:center;
  justify-content: center;
}

.main-content{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  align-items:stretch;
  text-align: center;


  h1{
    margin: 64px 0 24px;
    font-family: 'Poppins', sans-serif;
  }

  form{
    input{
      height: 50px;
      border-radius: 8px;
      padding:0 16px;
      background: var(--shape);
      border: 1px solid var(--gray);
      margin-bottom: 16px;
    }
    button{
      margin-top: 16px;
      text-decoration: none;
      
    }

    button, input {
      width: 100%;
    }
  }

}

.separator {
  font-size: 14px;
  color: var(--gray);
  margin: 32px 0;
  display: flex;
  align-items:center;


  &::before{
    content: '';
    flex: 1;
    height: 1px;
    background:var(--gray);
    margin-right: 1rem;
  }


  &::after{
    content: '';
    flex: 1;
    height: 1px;
    background: var(--gray);
    margin-left: 1rem;
    
  }
}
}